@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Coda');

html, body{
 
}
/*----------------------------------
  Hero Image
------------------------------------*/
.u-hero-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
h1,h2,h3,h4,h5{

font-style:normal;
font-family: Rajdhani, sans-serif;
font-weight: 900;
font-size: 45px;
line-height: 50px;
}
 .logo{
  margin-top:10px;
  width: 200px;
  margin-right: 20px;
 }

  .head-content{
    margin-top: 155px;
    position: relative;
    z-index: 1;
    color: white;
  }
  .playbtn{
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .playicon{
    /* font-size: 1.5em; */
    top: -15px;
    position: relative;
  }
  .play-text{
    color: #F3B007;
    padding-right: 40px;

  }
  .flex-stuff{
    display: flex;
    /* padding: 5px; */
  }
  .cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -120px;
    position: relative;
  }
  .teamcards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
  }
  .card-text{
   padding: 10px;
  }
  
  .cardtext{
    background-color: white;
  }

  .colum_border{
    border-left: 1px solid #B7B7B7;
    height: 65px;
  }
  .colum_border1{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .colum_border2{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .colum_border3{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .img-height img{
    height: 380px;
    width: 2000%;
    border-radius: 2px;
  }
  .img-height1{
    border-radius: 2px;
  }
  .top-quality{
    background-color: white;
    padding: 25px;
    width: 400px;
    position: relative;
    top: -250px;
    margin-left: 200px;
    /* float: right; */
  }
  .guaranteed{
    position: absolute;
    padding-left: 7 0px;

  }
  
  .list ul {
    list-style: none;
}

.list  li:before {
    content: "+";
    margin-right: 4px;
    color: #F3B007;
}
.user{
  /* background-color: rgb(207, 154, 19);
  padding: 10px; */

}
.btn-join{
  justify-content: center;
    padding-top: 100px;
    padding-left: 150px;
}
.btn-join2{
  justify-content: center;
  adding-top: 100px;
  padding-right: 150px;
}
.fixed-background{
  background: url(Assest/hd-5.jpg) no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 70vh;


}
.fixed-background2{
  background: url(Assest/hd-13.jpg) no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 70vh;


}
.fixed-div{
  padding: 70px;
  color: white;
  
}
.second-card{
  /* padding: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
  background-color:#F5F5F5;
  margin-top:20px;
}
footer .logo{
  margin-top:30px;
  width: 200px;
  margin-right: 20px;
}
footer h4 {
  font-weight: 900;
  color: #2d2d2d;
  font-size: 13px;
}
.footer-links {
  list-style-type:none;
  line-height: 30px;
  font-size: 13px;
}
.footer-links2{
  list-style-type:none;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 32px;
}
.footer-links2 a{
  color: rgb(73, 73, 73);
}
.footer-links a{
  color: rgb(116, 115, 115);

}
 footer a:hover{
  text-decoration: none;
} 
.footer-payment-image{
  margin-top: 70px;
}
 .copy-p{
  font-size: 12px;
  line-height: 20px;
  color:grey;
  font-weight: bold;
 }
footer .copy-menu{
  padding-left: 200px;
}
footer .copy-menu a{
  padding:10px;
  font-size: 12px;
  line-height: 20px;
  color:grey;
  font-weight: bold;
}
.link-bd{
  height: 0px;
  /* border-right: 1px solid grey; */
}
/* media querries */
@media only screen and (max-width: 425px){
  .top-quality{
    display: none;
  }
}