@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Rubik');
/* @import url('https://fonts.googleapis.com/css?family=Coda'); */

html, body{
  padding: 0;
  margin: 0;
  background: rgb(241, 241, 241) !important;
}
h1,h2,h3,h4,h5{

  font-style:normal;
  font-family: Rajdhani, sans-serif;
  font-weight: 900;
  font-size: 45px;
  line-height: 50px;
  }
  .flex-stuff{
    display: flex;
    /* padding: 5px; */
  }
/*----------------------------------
  Hero Image
------------------------------------*/
header {
    background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/header-image.jpg) no-repeat;
    height: 750px;
    background-size: cover;

  }
  /* --------- */
/* Nav links */
.nav-link{
  text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #2d2d2d;
}
.btnwarn{
  text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}
 .logo{
  margin-top:10px;
  width: 200px;
  margin-right: 20px;
 }

  .head-content{
    margin-top: 155px;
    position: relative;
    z-index: 1;
    color: white;
  }
  .head-content p{
    font-size: 15px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    line-height: 1.5;



  }
  .playbtn{
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .playicon{
    /* font-size: 1.5em; */
    top: -15px;
    position: relative;
  }
  .play-text{
    color: #F3B007;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 40px;
    font-weight: 700;

  }
  .cardUp{
    margin-top: -120px;
  }
  .cardUp h3{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #4C4C4C;
    font-weight: 600;
  }
  .cardUp p{
    text-align: center;
    margin-top: 3px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    
}
  
  
  

  .colum_border{
    border-left: 1px solid #B7B7B7;
    height: 65px;
  }
  .colum_border1{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .colum_border2{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .colum_border3{
    border-left: 1px solid #B7B7B7;
    height: 65px;

  }
  .thirdsection h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 25px;
    line-height: 28px;
  }
  .thirdsection p{
    font-size: 13px !important;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 28px;
  }
  .forthsection{
    background-color: #fff;
    margin-top: 15px;
    padding-top:15px;
    padding-bottom:15px;
  }
  .forthsection h2 {
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    /* margin-bottom: 32px; */
    color: #2d2d2d;
  }
  .forthsection p{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #4C4C4C;
  }
  .forthsection ul{
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 2;
    color: #4C4C4C;
  }
  .fifthsection{
    padding-top:50px;
    padding-bottom:80px;
  }
  .fifthcol-6{
    background: url(Assest/image-5.jpg) no-repeat;
    background-size: cover;

  }
  .fifth2col-6{
    margin-left: 90px;
  }
  .fifth2col-6 h2{
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-bottom: 32px;
    color: #2d2d2d;
  }

  .fifth2col-6 p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
  }
  .fifth2col-6 ul{
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 2;
    color: #4C4C4C;
  }
  .img-height img{
    height: 380px;
    width: 2000%;
    border-radius: 2px;
  }
  .img-height1{
    border-radius: 2px;
  }
  .top-quality{
    background-color: white;
    padding: 25px;
    width: 400px;
    position: relative;
    margin-left: 220px;
    bottom: -150px;
  }
  .guaranteed{
    position: absolute;
    padding-left: 7 0px;

  }
  .navList{
    padding-left: 15px !important;
  }
  .navList li{
    padding-left: 40px;
  }
  .list ul {
    list-style: none;
}

.list  li:before {
    content: "+";
    margin-right: 10px;
    margin-left: 10px;
    color: #F3B007;
    font-weight: 900;
    font-size: 18px;
}

.btn-join {
  text-align: center;
  padding-top:200px;
}
.btn-join button{
padding: 20px;
}


.btn-join2{
  justify-content: center;
  padding-top: 250px;
  padding-left: 60px;
}
.btn-join2 button{
padding: 20px;

}
.sixthsection{
  background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/hd-5.jpg) no-repeat;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;

}
.sixthsection1{
margin-top: 90px;
font-family: 'Rubik', sans-serif;
color:#fff;
}
.sixthsection1 h3{
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
.sixthsection1 p{
  font-size:15px;
  font-family: 'Rubik', sans-serif;

}
.sixthsection2div {
  display: flex;
}
.sevensection h2{
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  margin-bottom: 32px;
  color: #2d2d2d;
}

.tenthsection{
  background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/hd-13.jpg) no-repeat;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  ont-family: 'Rubik', sans-serif;
  color:#fff;
}

.tenthsection h3{
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
. p{
  font-size:15px;
  font-family: 'Rubik', sans-serif;

}
.tenthsection1{
  margin-top: 90px;
  font-family: 'Rubik', sans-serif;
  /* color: #fff; */
}

.cardx{
  border-radius: 4px;
  padding: 0 10px;
  background: #FFF;
  width: 90%;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardx h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 15px;
}
.cardx p{
  margin: 15px 0 0 0;
  color: #4C4C4C;
  font-weight: 400;
  padding: 4px 10px 2px 10px;
  font-size: 15px;
  font-weight: 600;
}
.cardx img{
  width: 100%;
  height: 60px;
  padding-top: 10px;
}
.eightsection{
  background-color:#fff;
  padding-top: 15px;
  margin-top: 70px; 
}
.eightsection ul{
  padding: 10px;
}

.eightsection ul li {
  padding: 10px;
  
}
.eightsection ul li a {
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px;
  border-radius: 0;
  border: 1px solid transparent;
  margin-right: 0;
  font-size: 17px;
}
.brands{
  margin-bottom: 40px;
}
/*  */
.tab{
  /* border-color: #dee2e6 #dee2e6 #fff */
  border-radius: 2px 0 0 2px  !important;
}

footer{
  background-color:#F5F5F5;
  margin-top:20px;
}
footer .footer-content{
  padding-top: 25px;
}
footer .logo{
  margin-top:30px;
  width: 200px;
  margin-right: 20px;
}
.footer-img{
  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.1), 0 0 0px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.18);
  background: #FFF;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%; 

}
footer h4 {
  font-weight: 900;
  color: #2d2d2d;
  font-size: 20px;
}
.footer-links {
  list-style-type:none;
  line-height: 30px;
  font-size: 13px;
}
.footer-links2{
  list-style-type:none;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 32px;
}
.footer-links2 a{
  color: rgb(73, 73, 73);
}
.footer-links a{
  color: rgb(116, 115, 115);

}
 footer a:hover{
  text-decoration: none;
} 
.fa-info-circle{
  color: #F3B007;
  padding: 10px;
}
.fa-social{
  margin-top: 10px;
}
.footer-payment-image{
  margin-top: 20px;
}
 .copy-p{
  font-size: 12px;
  line-height: 20px;
  color:grey;
  font-weight: bold;
 }
/*  */
footer .copy-menu a{
  padding:10px;
  font-size: 12px;
  line-height: 20px;
  color:grey;
  font-weight: bold;
}
footer .logo-text{
  font-size: 14px !important;
  line-height: 24px;
  margin-top: 60px;
}
.footer-social{
    color:rgb(253, 253, 253);
    font-size: 32px;
    margin-top: 50px;
}
.button1{
background-color: rgb(0, 71, 224);
padding: 5px 15px !important;
color: #FFF;
}
.button2{
  background-color: rgb(8, 135, 246);
padding: 5px 15px !important;
color: #FFF;

}
.button3{
  background-color: rgb(172, 4, 10);
padding: 5px 15px !important;
color: #FFF;

}
.button4{
  background-color: #3090C1;
padding: 5px 15px !important;
color: #FFF;

}
.link-bd{
  height: 0px;
  /* border-right: 1px solid grey; */
}
/* media querries */
@media only screen and (max-width: 425px){


  header {
    background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/header-image.jpg) no-repeat;
    height: 900px;
    background-size: cover;
}
.head-content h1{
  font-size: 25px;
}
  .cardUp{
    margin-top: -30px;
  }
  .cardUp h3{
    font-size: 25px;
  }
  
  .playbtn{
    padding-top: 60px;
  }

  .forthsection h2{
    font-size: 24px;
   }
 
  .top-quality{
    display: none;
  }
  footer .copy-menu{
    margin-bottom:15px;
  }
  footer .copy-menu a{
    padding:2px;
    font-size: 12px;
    line-height: 20px;
    color:rgb(128, 128, 128);
    font-weight: bold;
  }
  .footer-img{
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.1), 0 0 0px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.18);
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%; 
  
  } 
  .sixthsection{
    background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/hd-5.jpg) no-repeat;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
  }

  .tenthsection{
    background: linear-gradient(rgba(94, 92, 93, 0.23), rgba(94, 94, 94, 0.23)), url(Assest/hd-13.jpg) no-repeat;
    height: 800px;
    background-size: cover;
  }
  .tenthsection h3{
    font-size: 22px;
  }
  
  .btn-join {
    text-align: center;
    padding-top:20px;
  }
  .btn-join2{
    padding-top: 150px;
    padding-left: 45px;
  }
  .top-quality{
    display: none;
  }
  .fifth2col-6{
    margin-left: 10px;
  }
  .fifthcol-6{
    display: none;

  }
  .fifth2col-6 h2{
    font-size: 24px;
  }
  .fifth2col-6 p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
  }
  .fifth2col-6 ul{
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #4C4C4C;
  }
  .sixthsection1 h3{
    font-size: 24px;

  }
  .sevensection h2{
    font-size: 24px;
  }
  .sevensection p{
    margin-bottom: 40px;
  }
  .cardx{
    padding-top: 15px;
    padding-right: 25px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .progres{
    margin-top: 40px;
  }
  .progresx{
    margin-bottom: 70px;
  }
  .progres-image{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .brands{
  display: block;
  }
  .headerform{
    display: none !important;
  }
  .collapsenav{
    background-color: #222121ec;
  }
  .img-height img {
    display: none;
}
colum_border{
  display: none;
}
.thirdsection img{
  width: 15%;
}
}




/* Retina display */
/* @media screen and (min-width: 1024px){
    image{
  
    }
} */

/* Desktop */
/* @media screen and (min-width: 980px) and (max-width: 1024px){
    .rage{
    
    }
} */

/* Tablet */
/* @media screen and (min-width: 760px) and (max-width: 980px){
    image{
  
    }
} */

/* Mobile HD */
/* @media screen and (min-width: 350px) and (max-width: 760px){
    .respo
        
    }
} */

/* Mobile LD */
/* @media screen and (max-width: 350px){
    .respo
        
    }
}  */